[Desktop Entry]
Version=1.0
Name=Chromium Web Browser
Name[ru]=Браузер
GenericName=Web Browser
Exec=chromium %U
Terminal=false
Icon=chromium
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=chromium

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=chromium --incognito
