[Desktop Entry]
Version=1.0
Name=Brave Web Browser
Name[ru]=Браузер
GenericName=Web Browser
Exec=/usr/bin/brave-browser-stable %U
Terminal=false
Icon=brave-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
NoDisplay=true
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/brave-browser-stable

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/usr/bin/brave-browser-stable --incognito
