[Desktop Entry]
Version=1.0
Name=Brave
Name[ru]=Браузер
GenericName=Web Browser
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=brave --file-forwarding com.brave.Browser @@u %U @@
Terminal=false
Icon=com.brave.Browser
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
